.ultrasites-vue-content-slider-wrapper{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #3b3b3b;
    position: relative;
    overflow: hidden;
}

.ultrasites-vue-content-slider-slide{
    width: 500px;
    height: 100%;
    float:left;
}

.ultrasites-vue-content-slider-button-back, .ultrasites-vue-content-slider-button-next{
    width:auto;
    height: auto;
    position: absolute;
    top:45%;
    cursor: pointer;
    color: white;
}

.ultrasites-vue-content-slider-button-back{
    left:10px;
}

.ultrasites-vue-content-slider-button-next{
    right:10px;
}

.ultrasites-vue-content-slider{
    position: relative;
}

.ultrasites-vue-content-slider-state-wrapper{
    position: relative;
    bottom: 30px;
    text-align: center;
}

.ultrasites-vue-content-slider-state{
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.ultrasites-vue-content-slider-state--active{
    background-color: #FFFFFF;
}

.ultrasites-vue-content-slider-state:last-of-type{
    margin-right: 0;
}

